body{
  color: white;
  font-family: Helvetica;
  background-color: rgba(0,0,0,.9);
}

h1{
  margin-bottom: 0;
}
h3{
  margin-top: 3px;
  opacity: .6;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  display: inline-block;
  margin-right: 100px;
}
#stats{
  float: right;
  font-size: 110%;
  margin: 10px 0;
  font-size: 130%;
}
#debug{
  margin-top: 10px;
  opacity: .5;
}

#wrapper{
  width: 800px;
  margin: auto;
}
